<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
</head>

<body>
    <header>
        <h2>Current Date and Time</h2>
    </header>
    <div id="content">
        <section>
            <div id="search-location">
                <form method="get" action="/location">
                    <label for="search"><b>Search</b></label>
                    <input type="text" placeholder="Enter Location" name="location" required>
                    <button type="submit" class="search-btn">Search</button><br/>
                </form>
                <p>{{ message }}</p>
                <a id="logout" href="/login">Logout</a>
            </div>
            <article>
                <h3>Current location: {{ current_city }}
                <p>Current temperature: {{ current_temperature }}</p><br/>
                <p>Feels like: {{ current_feels_like }}</p><br/>
                <p>Maximum today: {{ current_max }}</p><br/>
                <p>Minimum today: {{ current_min }}</p><br/>
                <p>{{ weather_description }}</p>
            </article>
        </section>
    </div>
</body>

</html>