<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
</head>

<body>
    <header>
        <h2>Current Date and Time</h2>
    </header>
    <div id="content">
        <section>
            <div id="search-location">
                <form method="GET">
                    <label for="email"><b>Search</b></label>
                    <input type="text" placeholder="Enter Location" name="location" required>
                    <button type="submit" class="search-btn">Search</button>
                </form>
            </div>

            <article>
                <h1>Location</h1>
                <p>Display weather here</p>
            </article>
        </section>
    </div>
</body>

</html>