<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
    <header>
        <h3> Last Updated: Montreal's time </h3>
        <h3>{{ date }}</h3>
    </header>
    <div id="content">
        <a id="logout" href="/logout">Logout</a>
        <section>
            <div id="search-location">
                <form method="get" action="/location" id="location-form">
                    <label for="search"><b>Search by location</b></label>
                    <input type="text" placeholder="Enter Location" name="location" required>
                    <input type="radio" id="celsius" name="unit" value="metric" checked>
                    <label for="celsius">Celsius</label><br>
                    <input type="radio" id="fahrenheit" name="unit" value="imperial">
                    <label for="fahrenheit">Fahrenheit</label><br><br/>
                    <button type="submit" class="search-btn">Search</button><br />
                </form>
                <hr>
                <form method="get" action="/coordinates" id="latitude-form">
                    <label for="search"><b>Search by longitude/latitude</b></label>
                    <input type="text" placeholder="Enter Longitude (metric)" name="longitude" required><br>
                    <input type="text" placeholder="Enter Latitude (metric)" name="latitude" required>
                    <input type="radio" id="celsius" name="unit" value="metric" checked>
                    <label for="celsius">Celsius</label><br>
                    <input type="radio" id="fahrenheit" name="unit" value="imperial">
                    <label for="fahrenheit">Fahrenheit</label><br><br/>
                    <button type="submit" class="search-btn">Search</button><br />
                </form>
            </div>
            <article>
                <div class="w3-card-4 w3-margin" style="width:50%">
                    <div class="w3-display-container w3-text-white">
                        {% if sun %}
                        <img src="{{ url_for('static',filename='images/sunny.jpg') }}" alt="sun" style="width:100%">
                        {% endif %}
                        {% if rain %}
                        <img src="{{ url_for('static',filename='images/rainy.jpg') }}" alt="sun" style="width:100%">
                        {% endif %}
                        {% if default %}
                        <img src="{{ url_for('static',filename='images/default.jpg') }}" alt="sun" style="width:100%">
                        {% endif %}
                        <div class="w3-xlarge w3-display-bottomleft w3-padding">{{ current_city }} <br>
                            {{ current_temperature }} {{ symbol }}
                        </div>
                        <div class="w3-xlarge w3-display-bottomright w3-padding">
                            {{ weather_description }}
                        </div>
                    </div>
                    <div class="w3-row">
                        <div class="w3-third w3-center">
                            <h3>FEELS LIKE</h3>
                            <p>{{ current_feels_like }}{{ symbol }}</p>
                        </div>
                        <div class="w3-third w3-center">
                            <h3>MAX</h3>
                            <p>{{ current_max }}{{ symbol }}</p>
                        </div>
                        <div class="w3-third w3-center w3-margin-bottom">
                            <h3>MIN</h3>
                            <p>{{ current_min }}{{ symbol }}</p>
                        </div>
                    </div>
                </div>
                <h4>{{ message }}</h4>
            </article>
        </section>
    </div>
</body>

</html>
