/Tutorial/RESTJersey/nbproject/private/
/.metadata/
/com.vogella.jersey.first/.nb-gradle/
/Assignment1/A1-LibraryClient/nbproject/private/
/Assignment1/A1-LibraryCore/nbproject/private/
/Assignment1/A1-LibraryService/nbproject/private/
/Assignment1/A1-LibrarySystem/nbproject/private/