/Tutorial/RESTJersey/nbproject/private/
/.metadata/
/com.vogella.jersey.first/.nb-gradle/
/Assignment1/A1-LibraryClient/nbproject/private/
/Assignment1/A1-LibraryCore/nbproject/private/
/Assignment1/A1-LibraryService/nbproject/private/
/Assignment1/A1-LibrarySystem/nbproject/private/
/Assignment1/A1-LibraryClient/build/
/Assignment1/A1-LibraryClient/dist/
/Tutorial/HelloWorld/nbproject/private/
/Tutorial/HelloWorld/build/
/Tutorial/HelloWorld/dist/
/CustomerDB/nbproject/private/
/CustomerDB/build/
/CustomerDB/dist/
/Tutorial/CustomerDB/nbproject/private/
/Tutorial/CustomerDB/build/
/Tutorial/CustomerDB/dist/
/Tutorial/WebApplicationDatabase/nbproject/private/
/Tutorial/HelloWorldJersey/nbproject/private/
/Tutorial/HelloWorldJersey/build/
/Tutorial/HelloWorldJersey/dist/