<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListBooksJson</servlet-name>
        <servlet-class>servlets.ListBooksJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBooksXml</servlet-name>
        <servlet-class>libraryservlets.ListBooksXml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>libraryservlets.AddBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookXml</servlet-name>
        <servlet-class>libraryservlets.AddBookXml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBook</servlet-name>
        <servlet-class>libraryservlets.UpdateBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookXml</servlet-name>
        <servlet-class>libraryservlets.UpdateBookXml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBook</servlet-name>
        <servlet-class>libraryservlets.DeleteBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseBook</servlet-name>
        <servlet-class>libraryservlets.ChooseBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBook</servlet-name>
        <servlet-class>libraryservlets.ViewBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>libraryservlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>libraryservlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Services</servlet-name>
        <servlet-class>libraryservlets.Services</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListBooksJson</servlet-name>
        <url-pattern>/ListBooksJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBooksXml</servlet-name>
        <url-pattern>/ListBooksXml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/AddBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookXml</servlet-name>
        <url-pattern>/AddBookXml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBook</servlet-name>
        <url-pattern>/UpdateBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookXml</servlet-name>
        <url-pattern>/UpdateBookXml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBook</servlet-name>
        <url-pattern>/DeleteBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseBook</servlet-name>
        <url-pattern>/ChooseBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBook</servlet-name>
        <url-pattern>/ViewBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Services</servlet-name>
        <url-pattern>/Services</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
