* {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  header {
    background-color: #0099ff;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
  /* Create two columns/boxes that floats next to each other */
  #search-location {
    float: left;
    width: 30%;
    height: 570px;/* only for demonstration, should be removed */
    background: #b3e0ff;
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    height: 570px;
    float:left;
  }

  /* Clear floats after the columns */
  section:after {
    content: "";
    display: table;
    clear: both;
  }

  .search-btn {
    background-color: #0099ff;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  .search-btn:hover {
    opacity: 1;
  }

  input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }

  form {
    margin-top: 50%;
  }

  #logout {
    float: left;
    position: relative;
    margin-top: 20%;
  }
  
