<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListBooksJson</servlet-name>
        <servlet-class>servlets.ListBooksJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBooksXml</servlet-name>
        <servlet-class>servlets.ListBooksXml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>servlets.AddBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListBooksJson</servlet-name>
        <url-pattern>/ListBooksJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBooksXml</servlet-name>
        <url-pattern>/ListBooksXml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/AddBook</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
